---
title: D+T Wedding
---

<div class="header">
  <div class="container">
    <a href="#" class="logo">D+T</a>
    <h1>Derrick &amp; Tiffany's Wedding</h1>
    <h2>March 22, 2014 // March 29, 2014</h2>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="panel left">
      <h3>Travel Accommodations</h3>

      <p>We recommend the following hotels in the Fresno and Selma areas:</p>

      <ul class="hotels">
        <li>
          <%= link_to "La Quinta Inn", "http://www.lq.com/lq/properties/propertyProfile.do?propId=6009", :target => "_blank" %><br>
          330 East Fir Ave<br>
          Fresno, CA 93720<br>
          (559) 449-0928
        </li>

        <li>
          <%= link_to "Holiday Inn Express", "http://www.ihg.com/holidayinnexpress/hotels/us/en/fresno/fatca/hoteldetail/directions", :target => "_blank" %><br>
          7115 N. Howard St<br>
          Fresno, CA 93720 <br>
          (559) 577-1350
        </li>

        <li>
          <%= link_to "Fairfield Inn", "http://www.marriott.com/hotels/travel/fatkb-fairfield-inn-and-suites-selma-kingsburg/", :target => "_blank" %><br>
          216 Ventura Court <br> 
          Kingsburg, CA 93631<br>
          (559) 897-8840
        </li>

        <li>
          <%= link_to "Holiday Inn Selma", "http://www.ihg.com/holidayinn/hotels/us/en/selma/semca/hoteldetail", :target => "_blank" %><br>
          2950 Pea Soup Andersen Blvd<br>
          Selma, CA 93662<br>
          (559) 891-8000
        </li>
      </ul>
    </div>
  
    <div class="panel right">
      <h3>Registry Information</h3>

      <p>We are registered at the following retailers:</p>

      <ul class="retailers">
        <li>
          <%= link_to "Amazon.com", "http://www.amazon.com/gp/registry/wedding/10SO87KFV39I3", :target => "_blank" %>
        </li>
        <li>
          <%= link_to "Williams-Sonoma", "https://secure.williams-sonoma.com/registry/hnnjqbphxk/registry-list.html", :target => "_blank" %><br>
          734 West Shaw Avenue <br>
          Fresno, CA 93704
        </li>
        <!--<li>
          <%= link_to "Bed Bath & Beyond", "#" %><br>
          7497 N Blackstone Ave <br>
          Fresno, CA 93720 <br>
          (559) 440-9275
        </li>-->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="footer">
    <p class="thank-you">Thank you for your love and support!</p>
  </div>
</div>